# ansible/ansible.cfg
# Ansible reads this automatically when you run commands from the ansible/ directory

[defaults]
inventory          = inventory.ini
remote_user        = ec2-user
private_key_file   = ~/.ssh/infra-learning.pem
host_key_checking  = False        # skip fingerprint prompts on fresh EC2 instances
retry_files_enabled = False
stdout_callback    = default
allow_world_readable_tmpfiles = True

[privilege_escalation]
become      = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining  = True                 # speeds up Ansible by reducing SSH round-trips
ssh_args    = -o ControlMaster=auto -o ControlPersist=60s
